*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
}
.landing{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
    background-image: url(baru.jpg);
    background-size: cover;
    min-height: 100vh;
    width: 100%;    
    overflow: hidden;
    background-blend-mode: overlay;
}
header{
    position: ;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 40px;
    background: linear-gradient(to top, transparent, rgba(0,0,0,0,6));
}
header img{
    width: 200px;
    float: left;
    position: relative;
}
.menu{
    background-color: rgb(16, 25, 148);
    color: white;
    text-decoration: none;
    border-radius: 100px;
    width: 85%;
    float: right;
    margin-top: 70px;
}
td{
    padding: 26px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: 0 5px;
    font-weight: 300;
    letter-spacing: 1px;
}
td a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: 0 25px;
    font-weight: 300;
    letter-spacing: 1px;
}
.about-table{
    background-color: white;
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}
.text{
    font-size: 18px;
    color: rgb(151, 151, 151);
    margin-top: 20px;
    margin-bottom: -10px;
}

fieldset{
    border: none;
    padding: 5px;
    padding-top: 25px;
    margin-top: 100px;
    margin-left: 100px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    box-sizing: content-box;
    width: 25%;
    height: 40vh;
    word-wrap: normal;
    text-align: center;
}

.about-content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{    
    display: inline-block;
    width: 20%;
    margin-bottom: 20px;
}
.text-about{
    padding: 20px;
    line-height: 30px;
    color: grey;
}
